.parallax {
    /* 이미지 */
    background-image: url("parallax.jpg");

    /* 이미지 사이즈 설정 */
    height: 500px;
    margin-bottom: 10px;

    /* 패럴렉스 스크롤 구현 */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(2px);
}

body{
    color: whitesmoke;
    background-color: #404040;
    font-family: 'Noto Sans KR', sans-serif;
}

div {
    text-align: center;
    padding: 10px;
}

li {
    list-style: none;
}

ul {
    padding-left: 0px;
}

a {
    color: whitesmoke;
}

a:visited {
    color: whitesmoke;
}

a:hover {
    color: whitesmoke;
}