.parallax {
    /* 이미지 */
    background-image: url("parallax.jpg");
  
    /* 이미지 높이 설정 */
    height: 500px;
  
    /* 패럴렉스 스크롤 구현 */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(2px);
}

.cpt_wrapper{
    margin: 10px;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 300px);
}

body{
    background-color: #3b3b3b;
    color:white;
}

h1{
    font-weight:100;
}

h2{
    text-align: center;
}

ul{
    text-align: center;
    padding-left: 0px;
    margin-left: 30%;
    margin-right: 30%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}