div.container {
    text-align: center;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: gray;
    text-decoration: none;
}

@media (max-width: 768px) {
    .mobile-not-allow {
        display: none;
    }
}
